* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

#panel {
  text-align: center;
  background: rgba(46, 204, 113,1.0);
  /* width: 70%; */
  margin-right: auto;
  margin-left: auto;
  height: 115vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:nth-child(6) {
  margin-bottom: 10px;
}
